<div id="overlay"><span class="spinner"></span></div>

<nav id="menu">
			<ul class="links">
				<li><a href="https://www.pakresult.com/" style="font-size: 15px">Home</a></li>
				<li><a href="/about" style="font-size: 15px">About</a></li>
				<li>
					<a onclick="myFunction()" class="dropbtn" style="font-size: 15px">Results&nbsp; &#9663;</a>
					<div id="myDropdown" class="dropdown-content">
						<a href="/boardresult">Board Result</a>
						<a href="/uniresult">University Result</a>
					</div>
				</li>
				<li><a href="" style="font-size: 15px">Merit Lists</a></li>
				<li><a href="/merit" style="font-size: 15px">Merit Calculator</a></li>
				<li><a href="" style="font-size: 15px">Notes & Prep</a></li>
				<li><a href="/datesheets" style="font-size: 15px">Date Sheets</a></li>
				<li><a href="/pairing" style="font-size: 15px">Pairing Schemes</a></li>
				<li><a href="" style="font-size: 15px">Past Papers</a></li>
                <li><a href="#" style="font-size: 15px">COVID 19 Live Stats</a></li>
                <li><a href="https://prizebond.pakresult.com/home/" style="font-size: 15px">Prize Bonds</a></li>
                <li><a href="#" style="font-size: 15px">Shop</a></li>
				<li><a href="/contact" style="font-size: 15px">Contact Us</a></li>
			</ul>
		</nav>